.conteudo-apresentacao {
    position: relative;
    /* top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: var(--vão);
    min-height: 100vh;
}

.conteudo-texto-apresentacao, .imagem-apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* margin-top: 10rem; NÃO SEI PQ TA DANDO ESSE ERRO */
}

.imagem-apresentacao img,
.imagem-apresentacao svg {
    max-width: 100%;
    height: auto;
}

.conteudo-sustentabilidade {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.conteudo-indicadores-grade {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.titulo-principal-grade {
    margin-bottom: 1rem;
}

.descricao-grade {
    padding-bottom: 5rem;
}

.grade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--vão);
    /* counter-reset: contador-grade; */
}

.grade h3 {
    font-size: 3rem;
    position: relative;
    /* padding-left: 5rem; */
    /* padding-bottom: 3rem; */
}

.grade h3::before {
    /* counter-increment: contador-grade; */
    /* content: counter(contador-grade); */
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    /* top: -4rem;
    left: -2rem; */
    /* transform: rotate(5deg); */
}

.imagem-galeria {
    width: 100%;
    max-width: 36rem;
    min-height: 36rem;
    overflow: hidden;
}

.imagem-galeria img {
    transition: all 300ms ease-in-out;
}

.imagem-galeria img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.formulario-grade legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.formulario-contato {
    grid-column: span 2;
}

.formulario-contato .formulario-grade {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--vão);
}

.grupo-formulario {
    flex: 1 1 32rem;
}

.grupo-formulario label {
    margin-bottom: 1rem;
    display: block;
}

.grupo-formulario input,
.grupo-formulario textarea {
    border: 0.3rem solid var(--cor-cinza-escuro);
    font-family: 'Open Sans', sans-serif;
    background: var(--cor-branco);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}

.grupo-formulario input:focus,
.grupo-formulario textarea:focus {
    transition: all 300ms ease-in-out;
    border: 0.3rem solid #555;
}

.grupo-formulario button {
    border: 0.3rem solid var(--cor-cinza-escuro);
    background: none;
    color: var(--cor-primaria);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.grupo-formulario button:hover {
    background: var(--cor-verde-1);
    color: var(--cor-branco);
}

.grupo-formulario ::placeholder {
    color: var(--cor-cinza-escuro);
}

.rodape {
    background: var(--cor-primaria);
    text-align: center;
    font-size: 1.5rem;
}

.rodape a {
    color: inherit;
}

.coracao {
    color: red;
}

.rodape p {
    margin: 0;
    padding: 1rem;
    color: var(--cor-branco);
}

@media (max-width: 800px) {
    .conteudo-apresentaca, .grade {
        grid-template-columns: 1fr;
    }

    .imagem-galeria {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .imagem-galeria img {
        width: 100%;
    }

    .conteudo-indicadores-grade {
        display: block;
    }
}