:root {
    --cor-primaria: #000000;
    --cor-branco: #FFFFFF;
    --cor-cinza-claro: #EEEEEE;
    --cor-verde-1: #3d7b30;
    --cor-verde-2: #518f43;
    --cor-verde-3: #65a355;
    --cor-verde-4: #78b768;
    --cor-verde-5: #8ccb7a;
    --vão: 3rem; /* 30 px */
}