.conteudo-apresentacao {
    position: relative;
    top: -7rem;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: var(--vão);
    height: 100vh;
}

.conteudo-texto-apresentacao, .imagem-apresentacao {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.imagem-apresentacao img,
.imagem-apresentacao svg {
    max-width: 100%;
    height: auto;
}

.conteudo-sobre-nos {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}